#{extends 'main.html'/} #{set title:'Blog for ${user.firstName}
${user.lastName}'/}

<!-- This page publishes a list of all posts and associated comments for the 
user whose id is received as an incoming parameter. -->
<!--  users are directed from the PublicBlogDirectory page -->
<!-- Ultimately is same page as the Blog.index page...???? -->

<nav class="ui menu">
	<a class="ui item" href="/">WitPress</a><!-- home -->
	<a class="ui item" href="/blog">Blog</a> 
	<a class="ui item" href="/publicBlogDirectory">Public Blog Directory</a> 
	<a class="ui item" href="/about">About</a> 
	<a class="ui item" href="/contact">Contact</a> 
	<a class="ui item" href="/signout">Logout</a>
</nav>

<section class="ui segment">

	<!-- <div class="ui fluid form segment"> -->
	<div class="ui one column grid">
		<div class="ten wide column">
			#{list items:reversePosts, as:'post'}
			<h4>${post.title}</h4>
			${post.content}
			<div class="ui divider"></div>

			<!--OPTION 1:  If the user is a logged-in User, they can post comments -->
			<!-- html if/else statement -->
			#{if loggedInUser != null}

			<!-- Comments displayed -->
			<h5>Comments:</h5>
			#{list items:post.comments, as:'comment'}
			<p>${comment.content}:</p>
			#{/list}

			<div class="ui divider"></div>

			<!-- PLUS logged-in user can add comments here also, similar to at the Blog page -->
			<!--  user reverse router syntax to access method directly rather than routes requiring user to be for logged-in user -->
			<form
				action="@{PublicBlog.newComment(post.id, user.id, loggedInUser.id)}"
				method="POST">
				<div class="ui fluid form segment">
					<div class="field">
						<textarea placeholder='Provide a comment here' name="content"
							rows="2"></textarea>
					</div>
					<button class="ui green tiny button">New Comment</button>
				</div>
			</form>
			#{/if}

			<!-- OPTION 2: if not a logged-in user, still display the blog, but cannot add comments: -->
			#{else} #{if post.comments.size() > 0}
			<h5>Comments:</h5>
			#{list items:post.comments, as:'comment'}
			<p>${comment.content}:</p>
			#{/list}
			<div class="ui divider"></div>
			#{/if} 
			#{/else} 
			#{/list}
		</div>
	</div>
</section>



