#{extends 'main.html' /} 
#{set title:'Public Blog Directory' /}

<!--  This page shows a list of all users owning blogs, with links to the relevant blog pages.
Any member of the public whether registered or not, may read the blog-->

<nav class="ui menu">
	<a class="ui item" href="/">WitPress</a> <!-- home -->
	<a class="ui item" href="/blog">Blog</a> 
	<a class="ui active item" href="/publicBlogDirectory">Public Blog Directory</a> 
	<a class="ui item" href="/about">About</a> 
	<a class="ui item" href="/contact">Contact</a> 
	<a class="ui item" href="/signout">Logout</a>
</nav>

<section class="ui segment">
	<!-- outer frame -->

	<div class="ui grid container">
		<div class="ten wide column">

			#{list items:blogAuthors, as:'user'}

			<!--  Use reverse routing to link to the Public Blog directory by hyperlinks -->
			<!-- This routing allows a user to access the public blogs whether signed in or not. -->
			<!--  refers to 'show' method in PublicBlog controller -->
			<!-- user id passed as a parameter to the show.html template -->
			<h4><a href="@{PublicBlog.show(user.id)}">${user.firstName} ${user.lastName} Blog</a></h4>

			<div class="ui divider"></div>
			
			#{/list}
		</div>
	</div>
</section>