#{extends 'main.html' /} #{set title:'Blog for ${user.firstName}
${user.lastName}' /}

<nav class="ui menu">
	<a class="ui item" href="/">WitPress</a><!-- home -->
	<a class="ui active item" href="/blog">Blog</a> 
	<a class="ui item" href="/publicBlogDirectory">Public Blog Directory</a> 
	<a class="ui item" href="/about">About</a> 
	<a class="ui item"href="/contact">Contact</a> 
	<a class="ui item" href="/signout">Logout</a>
</nav>

<!-- <section class="ui segment"> -->
	<div class="ui two column grid">
		<div class="column">
			<form action="/newPost" method="POST">
				<div class="ui fluid form segment">

					<div class="field">
						<textarea placeholder="Choose a title for post" name="title"
							rows="1"></textarea>
					</div>

					<div class="field ">
						<textarea placeholder="Write your post here" name="content"></textarea>
					</div>
					<button type="submit" class="ui green button">Submit
						New Post</button>
				</div>
			</form>
		</div>

		<!-- Right hand column -->
		<!-- <div class="right floated column"> -->
	<div class="ui fluid form segment">
		<div class="field">
			#{list items:reversePosts, as:'post'} 
			<a href="@{BlogPost.show(post.id)}"> ${post.title} </a>
			<div class="ui form">
				<a href="@{Blog.deletePost(post.id)}" class="mini ui orange button">Delete Post</a>
			</div>
			#{/list}


			</div>
		</div>
<!-- </section> -->