#{extends 'main.html' /} #{set title:'Contact' /}

<nav class="ui menu">
	<a class="ui item" href="/">WitPress</a><!-- home -->
	<a class="ui item" href="/blog">Blog</a> 
	<a class="ui item" href="/publicBlogDirectory">Public Blog Directory</a> 
	<a class="ui item" href="/about">About</a> 
	<a class="ui active item" href="/contact">Contact</a> 
	<a class="ui item" href="/signout">Logout</a>
</nav>

<section class="ui segment">
	<div class="ten wide column">
		<div class="ui fluid form segment">
			<h4>witpress@wit.ie</h4>
		</div>
	</div>

</section>