#{extends 'main.html' /} #{set title:"WitPress Blog Post :
${post.title}" /}

<nav class="ui menu">
	<a class="ui item" href="/">WitPress</a><!-- home -->
	<a class="ui active item" href="/blog">Blog</a> 
	<a class="ui item"href="/publicBlogDirectory">Public Blog Directory</a> 
	<a class="ui item" href="/about">About</a> 
	<a class="ui item" href="/contact">Contact</a>
	<a class="ui item" href="/signout">Logout</a>
</nav>

<section class="ui segment">

<!-- Add comments to a elected post: -->
	<div class="ui one wide column">
		<h4>${post.title}</h4>
		<p>${post.content}</p>

		<div class="ui divider"></div>
		<h5>Comments:</h5>
          #{list items:post.comments, as:'comment'} <!-- NOTE PARTICULAR SYNTAX AND COLONS!!! -->

		<p>${comment.content}</p>

		<div class="ui form">
			<a href="@{BlogPost.deleteComment(post.id, comment.id)}"
				class="mini ui orange button">Delete</a>
		</div>
		<!-- 		<form class="ui form" action="/deleteComment method=" POST>
			<button type="delete" class="ui orange tiny delete button">
				<i class="erase icon"></i>Delete Comment</a>
				</buttton>
		</form> -->
		#{/list}

		<div class="ui divider"></div>

		<!--  frame within a frame-->
		
		<!-- NOTE the reverse Router suntax does not work if a corresponding route exists in the routes file -->
		<form action="@{BlogPost.newComment(post.id)}" method="POST">
			<div class="ui fluid form segment">
				<div class="field">
					<textarea placeholder='Provide a comment here' name="content"
						rows='2'></textarea>
				</div>

				<!-- 		<div class="ui fluid form segment">
			<div class="field">
				<textarea placeholder="Provide a fresh  new comment here"
					name="content" rows="3"></textarea> -->

				<button class="fluid ui green button">New comment</button>
			</div>
        </form>      
         
			<div class="ui divider"></div>
	</div>
</section>