#{extends 'main.html' /} 
#{set title:'Signup' /}

<nav class="ui menu">
	<a class="ui active item" href="/signup">WitPress</a> <!-- home -->
	<a class="ui item" href="/blog">Blog</a> 
	<a class="ui active item" href="/publicBlogDirectory">Public Blog Directory</a> 
	<a class="ui item" href="/about">About</a> 
	<a class="ui item" href="/contact">Contact</a> 
	<a class="ui item" href="/signout">Logout</a>
</nav>


<section class="ui segment">
	<h3>Sign Up</h3>
	<form action="/register" method="POST">

		<div class="two column grid">
			<div class="column">
				<div class="ui fluid form segment">

					<div class="two fields">
						<div class="field">
							<label> First Name</label> 
							<input placeholder="First Name"
								name="user.firstName" type="text">
						</div>
						<div class="field">
							<label>Last Name</label> 
							<input placeholder="Last Name"
								name="user.lastName" type="text">
						</div>
					</div>

					<div class="ui left icon input field">
						<input placeholder="Email" name="user.email" type="text"> <i
							class="user icon"></i>
					</div>
					<div class="ui left icon input field">
						<input placeholder="Password" name="user.password" type="password">
						<i class="lock icon"></i>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input id="conditions" type="checkbox"> <label
								for="conditions">I agree to the terms and conditions</label>
						</div>
					</div>
					<button type="submit" class="ui green submit button">Submit</button>
				</div>
			</div>
		</div>
	</form>




</section>