#{extends 'main.html' /} 
#{set title:'Home' /}

<nav class="ui menu">
	<a class="ui active item" href="/">WitPress</a> <!-- home -->
	<a class="ui item" href="/blog">Blog</a> 
	<a class="ui active item" href="/publicBlogDirectory">Public Blog Directory</a> 
	<a class="ui item" href="/about">About</a> 
	<a class="ui item" href="/contact">Contact</a> 
	<a class="ui item" href="/signout">Logout</a>
</nav>


<section class="ui segments">
	<!-- outer frame -->

	<div class="ui segment">
		<div class="column">
			<div class="nested column">
				<div class="ui fluid form segment">
					<form action="/signup" method="GET">
						<button type="submit" class="ui big green labeled icon button">
							<i class="signup icon"></i> GetStarted - sign up here
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="ui clearing divider"></div>   -->

	<div class="ui segment">
		<div class="column">
			<h4>If already registered log in and begin publishing</h4>
			<form action="/authenticate" method="POST">

				<div class="column">
					<div class="ui fluid form segment">
						<div class="field">
							<label> Email </label>
							<div class="ui left icon input">
								<input placeholder="Email" name="email" type="text"> <i
									class="user icon"></i>
							</div>
						</div>

						<div class="field">
							<label> Password </label>
							<div class="ui left icon input field">
								<input placeholder="Password" name="password" type="Password">
								<i class="lock icon"></i>
							</div>
						</div>
						<button type="submit" class="ui green submit button">Login</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>


